.nav-logo {
  color: var(--textColor);
}

.nav-logo:hover {
  color: var(--textColorHighlight);
}

.nav-ul-dark a {
  color: var(--textColor);
}

.nav-ul-dark a:hover {
  color: var(--textColorHighlight);
  border-top: var(--textColorHighlight) solid 2px;
}

.nav-theme-icon {
  color: var(--textColor);
  padding-left: 1em;
  cursor: pointer;
}

.nav-theme-icon:hover {
  color: var(--textColorHighlight);
}
