@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: var(--mainColor);
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.nav-logo {
  color: var(--textColor);
}

.nav-logo:hover {
  color: var(--textColorHighlight);
}

.nav-ul-dark a {
  color: var(--textColor);
  background-color: transparent;
}

.nav-ul-dark a:hover {
  color: var(--textColorHighlight);
  border-top: var(--textColorHighlight) solid 2px;
}

.nav-theme-icon {
  color: var(--textColor);
  cursor: pointer;
}

.nav-theme-icon:hover {
  color: var(--textColorHighlight);
}

.nav-toggler {
  color: var(--textColor);
}

.nav-toggler:hover {
  color: var(--textColorHighlight);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 425px) {
  .nav-theme-icon {
    border-top: 1px solid var(--textColorHighlight);
    width: 100%;
    margin-top: 1.25em;
    padding: 0.5em;
    text-align: center;
  }
}

/* Switch */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--secondaryColor);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}
