@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: var(--mainColor);
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.nav-logo {
  color: var(--textColor);
}

.nav-logo:hover {
  color: var(--textColorHighlight);
}

.nav-ul-dark a {
  color: var(--textColor);
  background-color: transparent;
}

.nav-ul-dark a:hover {
  color: var(--textColorHighlight);
  border-top: var(--textColorHighlight) solid 2px;
}

.nav-theme-icon {
  color: var(--textColor);
  cursor: pointer;
}

.nav-theme-icon:hover {
  color: var(--textColorHighlight);
}

.nav-toggler {
  color: var(--textColor);
}

.nav-toggler:hover {
  color: var(--textColorHighlight);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 425px) {
  .nav-theme-icon {
    border-top: 1px solid var(--textColorHighlight);
    width: 100%;
    margin-top: 1.25em;
    padding: 0.5em;
    text-align: center;
  }
}
