@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: var(--mainColor);
  font-family: "Poppins", sans-serif;
}

:root {
  --mainColor: #141414;
  --mainColorLight: #003d82;
  --secondaryColor: #0c53a6;
  --textColor: #eee;
  --textColorHighlight: #2b6abc;
}
